-
<div style="font-size: 30px;">창원아카데미</div>

It's the First day. 
I dont know why Jupyter's using labtop

* Date : 2023 May 2th 
* Location : CWNU


# 단축키 
# Shift + Enter: 현재 셀 실행 후 다음 셀로 이동
# Ctrl + Enter: 현재 셀 실행 후 이동하지 않음
# Alt + Enter: 현재 셀 실행 후 다음 셀 추가
# 셀 추가/삭제 단축키
# A: 현재 셀 위에 새로운 셀 추가
# B: 현재 셀 아래에 새로운 셀 추가
# D, D: 현재 셀 삭제
# Z: 이전에 실행한 셀 복원
# C: 복사
# V: 붙여넣기

In [7]:
print("1>> Hello World!");

print("2>> Hello","World!");

print("3>> Hello"+ "World!");

print("4>> "+str(100));

print("5>> "+str(2+4));

1>> Hello World!
2>> Hello World!
3>> HelloWorld!
4>> 100
5>> 6

In [8]:
# Q 6
print("=========================")
print("안녕하세요~")
print("저는 홍길동입니다.")
print("백수입니다. ")
print("=========================")

=========================
안녕하세요~
저는 홍길동입니다.
백수입니다.
=========================

In [9]:
# Q 11
# 80km / 1시간30분 / 거 = 속*시
print(str(80*1.5) +" km")

120.0 km

In [10]:
# Q 12 
#평균 속도 = 이동 거리 ÷ 이동하는 데 걸린 시간

print(str(190/2) +" km")

95.0 km

In [11]:
n = 5  
for i in range(1, n+1): 
    print(" "*(n-i) + "*"*(2*i-1))
for i in range(n-1, 0, -1):
    print(" "*(n-i) + "*"*(2*i-1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [1]:
import re  # 태그끼리 찾아주기 
text = input()
tag_list = re.findall(r"<([^>]*)>", text) 
a = [] 
b = []    
for tag in tag_list:
    if '/' in tag:
        b.append(tag)
    else:
        a.append(tag) 
for tag in a:
    if '/' + tag in b:
        b.remove('/' + tag)
    else:
        print(tag)

ㅈㄷ12ㅇ

In [13]:
"창원"+"대학교"

'창원대학교'

In [14]:
import math
print(round(10.2*3, 3))  # 소수점 ~번째까지
print(math.floor(10.2*3)) # 소수점 내림
print(math.ceil(10.2*3))  # 소수점 올림

30.6
30
31

In [15]:
# print 방법  1 
print("hi")
print("hi1")
print("hi2")
print("hi3")
print("hi4")

# print 방법  2
print('''\nhi1\nhi2\nhi3\nhi4\nhi5''')


# print 방법  3
print("\nh1","h2","h3","h4","h5",sep="\n")

hi
hi1
hi2
hi3
hi4

hi1
hi2
hi3
hi4
hi5

h1
h2
h3
h4
h5

In [18]:
a=0
for i in range(0,5):
    a+= 10
print(a)

50

In [23]:
# Format 2 가지
age = 27

#방법1
print(f"my age is {age} .")

#방법2 
print("my age is {}".format(age))

my age is 27 .
my age is 27

In [50]:
name = "hi"

print("my name is {x} age is {y}".format(x=name, y=str(age)))

pi = 3.1415

print("{}".format(pi))
print("{:.2f}".format(pi))

num = 1023.1415 
print("{:05.4f}".format(num % 1000))

my name is hi age is 27
3.1415
3.14
23.1415

In [72]:
#섭씨온도 ->화씨온도

print("섭씨    화씨")
for c in range(0,51,10):
    f = (9/5) * c + 32
    print(str(c) + "\t"+ str(f))

섭씨    화씨
0	32.0
10	50.0
20	68.0
30	86.0
40	104.0
50	122.0

In [97]:
# 구구단 세로 
for a in range(1,10): 
    for b in range(1,10):
        print(a , " * ", b ," = " , a*b )
    print()

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18

3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27

4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36

5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45

6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54

7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63

8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72

9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81

In [102]:
# 구구단 가로 
for i in range(1, 10):
    for j in range(1, 10):
        print("{} * {} = {:2}   ".format(i, j, i*j), end="")
    print()

1 * 1 =  1   1 * 2 =  2   1 * 3 =  3   1 * 4 =  4   1 * 5 =  5   1 * 6 =  6   1 * 7 =  7   1 * 8 =  8   1 * 9 =  9
2 * 1 =  2   2 * 2 =  4   2 * 3 =  6   2 * 4 =  8   2 * 5 = 10   2 * 6 = 12   2 * 7 = 14   2 * 8 = 16   2 * 9 = 18
3 * 1 =  3   3 * 2 =  6   3 * 3 =  9   3 * 4 = 12   3 * 5 = 15   3 * 6 = 18   3 * 7 = 21   3 * 8 = 24   3 * 9 = 27
4 * 1 =  4   4 * 2 =  8   4 * 3 = 12   4 * 4 = 16   4 * 5 = 20   4 * 6 = 24   4 * 7 = 28   4 * 8 = 32   4 * 9 = 36
5 * 1 =  5   5 * 2 = 10   5 * 3 = 15   5 * 4 = 20   5 * 5 = 25   5 * 6 = 30   5 * 7 = 35   5 * 8 = 40   5 * 9 = 45
6 * 1 =  6   6 * 2 = 12   6 * 3 = 18   6 * 4 = 24   6 * 5 = 30   6 * 6 = 36   6 * 7 = 42   6 * 8 = 48   6 * 9 = 54
7 * 1 =  7   7 * 2 = 14   7 * 3 = 21   7 * 4 = 28   7 * 5 = 35   7 * 6 = 42   7 * 7 = 49   7 * 8 = 56   7 * 9 = 63
8 * 1 =  8   8 * 2 = 16   8 * 3 = 24   8 * 4 = 32   8 * 5 = 40   8 * 6 = 48   8 * 7 = 56   8 * 8 = 64   8 * 9 = 72
9 * 1 =  9   9 * 2 = 18   9 * 3 = 27   9 * 4 = 36   9 * 5 = 45   9 * 6 = 54   9 * 7 = 63   9 * 8 = 72   9 * 9 = 81

# <div style = "font-size= 25px"> 1 번 문제 </div>
두값 a , b 의 평균을 출력하는 프로그램을 작성하시오

In [7]:
a = float(input(""))
b = float(input(""))
c = (a+b)/2
print(c)

5
1.5
3.25

# <div style = "font-size= 25px"> 2 번 문제 </div>
국적,이름 "출생년도" 를 입력받아 ,국적, 이름, "나이" 를 출력하는 프로그램을 작성하시오 ex)저는 대한민국에서...

In [32]:
country = input("")
name = input("")
DOB = int(input(""))

print("저는 ",country , "에서 태어난 ", name," 입니다. 그리고 나이는 ", 2023-DOB ,"입니다.")

대한민국
임경용
2005
저는  대한민국 에서 태어난  임경용  입니다. 그리고 나이는  18 입니다.

 # <div style = "font-size= 25px"> 3 번 문제 </div>
  원의 반지름을 입력받아 원의 면적을 구하는 프로그램을 작성하시오 .

In [31]:
from math import pi
c = float(input(""))
c = pi * c**2
print(round(c ,2))

5
78.54