# <div style="font-size : 46px; color: red">3 일차 </div>

In [71]:
num_a= 100
num_b= 200
if(num_a == num_b):
    print("a와 b 가 같다.")
elif(num_a > num_b):
    print("a 가 b보다 크다.")
else:
    print("b가 a 보다 크다.")

num_a,num_b = changeNums(num_a,num_b)    

if(num_a == num_b):
    print("a와 b 가 같다.")
elif(num_a > num_b):
    print("a 가 b보다 크다.")
else:
    print("b가 a 보다 크다.")
    
    
def changeNums(n1,n2):
    n1 = 300 ; n2 = 200;
    return n1,n2;

b가 a 보다 크다.
a 가 b보다 크다.

In [70]:
for i in range(0,2): 
    number=int(input("정수를 입력하세요 : "))
    print("n = ",number)
    if(number % 2 == 0):
        print(number,"은(는) 짝수입니다.")
    else:
        print(number,"은(는) 홀수입니다.")

정수를 입력하세요 : 50
n =  50
50 은(는) 짝수입니다.
정수를 입력하세요 : 75
n =  75
75 은(는) 홀수입니다.

In [76]:
n = int(input("점수를 입력하세요 : "))
if(n >= 90):
    print("당신의 등급은 : A")
elif(n>=80):
    print("당신의 등급은 : B")
elif(n>=70):
    print("당신의 등급은 : C")
elif(n>=60):
    print("당신의 등급은 : D") 
else:
    print("당신의 등급은 : F")

점수를 입력하세요 : 88
당신의 등급은 : B

In [89]:
for i in range(1,10+1):
    print(i,"Welcome to everyone!!",sep="\t")

1	Welcome to everyone!!
2	Welcome to everyone!!
3	Welcome to everyone!!
4	Welcome to everyone!!
5	Welcome to everyone!!
6	Welcome to everyone!!
7	Welcome to everyone!!
8	Welcome to everyone!!
9	Welcome to everyone!!
10	Welcome to everyone!!

In [99]:
list_01=[1,2,3,4,5]

for i in range(len(list_01)):
    print(i , end=" ")

0 1 2 3 4

In [103]:
for i in range(1,10):
    for j in range(1,10):
        print("{}*{} = {:2d}".format(i,j,i*j),end=" ")
    print()

1*1 =  1 1*2 =  2 1*3 =  3 1*4 =  4 1*5 =  5 1*6 =  6 1*7 =  7 1*8 =  8 1*9 =  9
2*1 =  2 2*2 =  4 2*3 =  6 2*4 =  8 2*5 = 10 2*6 = 12 2*7 = 14 2*8 = 16 2*9 = 18
3*1 =  3 3*2 =  6 3*3 =  9 3*4 = 12 3*5 = 15 3*6 = 18 3*7 = 21 3*8 = 24 3*9 = 27
4*1 =  4 4*2 =  8 4*3 = 12 4*4 = 16 4*5 = 20 4*6 = 24 4*7 = 28 4*8 = 32 4*9 = 36
5*1 =  5 5*2 = 10 5*3 = 15 5*4 = 20 5*5 = 25 5*6 = 30 5*7 = 35 5*8 = 40 5*9 = 45
6*1 =  6 6*2 = 12 6*3 = 18 6*4 = 24 6*5 = 30 6*6 = 36 6*7 = 42 6*8 = 48 6*9 = 54
7*1 =  7 7*2 = 14 7*3 = 21 7*4 = 28 7*5 = 35 7*6 = 42 7*7 = 49 7*8 = 56 7*9 = 63
8*1 =  8 8*2 = 16 8*3 = 24 8*4 = 32 8*5 = 40 8*6 = 48 8*7 = 56 8*8 = 64 8*9 = 72
9*1 =  9 9*2 = 18 9*3 = 27 9*4 = 36 9*5 = 45 9*6 = 54 9*7 = 63 9*8 = 72 9*9 = 81

In [107]:
for i in range(0,5):
    for j in range(0,5):
        if(j==i):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

*
  *
    *
      *
        *

In [113]:
a = 0;
while(True):
    a+=1
    if(a==10):
        print("true")
        break
    else:
        print("notYet")

notYet
notYet
notYet
notYet
notYet
notYet
notYet
notYet
notYet
true

In [117]:
try:
    a = int(input("숫자를 입력하시오 : "));
    while(True):
        a+=1
        if(a==10):
            print("true")
            break
        else:
            print("notYet")
except ValueError:
    print("입력값 오류 ")
except ZeroDivisionError:
    print("0으로 나누기 오류")
except NameError:
    print("변수이름 지정안한 오류")
except TypeErrorError:
    print("타입이 틀린 오류")
except FileNotFoundError:
    print("파일 찾을수없는 오류")
except IndexError:
    print("인덱스 오류")

숫자를 입력하시오 : 0
notYet
notYet
notYet
notYet
notYet
notYet
notYet
notYet
notYet
true

<div style="font-size:15px"> 문제 1번 다음의 리스트를 보고 문제에 답하시오 </div>

In [10]:
my_list=['apple','banana','cheery','orange','kiwi','melon']
print(my_list[1])
print(my_list[1:3])
print(my_list[:3])
print(my_list[4:])
print(my_list[1::2])

banana
['banana', 'cheery']
['apple', 'banana', 'cheery']
['kiwi', 'melon']
['banana', 'orange', 'melon']

<div style="font-size:15px"> 문제 2번 다음의 딕셔너리를 보고 문제에 답하시오 </div>

In [28]:
my_dictionary={'apple':1,'banana':2,'cheery':3,'orange':4,'kiwi':5,'melon':6}
print(my_dictionary['cheery'])
my_dictionary['mango']=7 
print(my_dictionary)

3
{'apple': 1, 'banana': 2, 'cheery': 3, 'orange': 4, 'kiwi': 5, 'melon': 6, 'mango': 7}

<div style="font-size:15px"> 문제 3번 다음의 딕셔너리를 보고 문제에 답하시오 </div>

In [38]:
my_dict={'score':[80,90,100],'rank':[3,2,1]}
# del my_dict['score'][2]
# my_dict['rank'][2]=4
# my_dict['rank'].sort()

print(my_dict['score'][1])
print(my_dict['rank'][1:])

90
[2, 1]

<div style="font-size:15px"> 문제 4번 다음의 예제를 보고 문제에 답하시오 </div>

In [44]:
my_dict={'apple':1,'banana':2,'cheery':3,'orange':4,'kiwi':5}
keys = list(my_dict.keys()) 
values = list(my_dict.values()) 
i = list(my_dict.items()) 

print(keys[1:3])
print(values[1:3])
print(i[1:3])

['banana', 'cheery']
[2, 3]
[('banana', 2), ('cheery', 3)]